language: python
python:
  - "3.4"
branches:
  only:
    - master
    - desenvolvimento
install:
  - pip install -r requirements.txt
before_script:
– python manage.py –migrate
script: 
  - python jediteca/manage.py test
  - nosetests

